@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
.container{
    padding: 5px;
    padding-top: 90px;
    background-color: #2e1f49;
}
.Parent{
    display:flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
}
.link{
    text-decoration: none;
}
.cover {
    width: 300px;
    height: 200px;
    img {
        object-fit: cover;
        border-radius: 2px 0px 0px 2px;
        width: 100%;
        height: 100%;
    }
}


.box{
  min-width: 40px;
    margin-left: 2em;
    margin-right: 2em;
    width:7%;
    display:flex;
    flex-direction: column;
}

.circle {
    position: relative;
    display: block;
    background-color: transparent;
    color: white;
    text-align: center;
  }
  
  .circle:after {
    display: block;
    padding-bottom: 100%;
    width: 100%;
    height: 0;
    border-radius: 50%;
    background: rgb(225,90,251);
    background: linear-gradient(317deg, rgba(225,90,251,1) 0%, rgba(78,9,121,1) 100%, rgba(83,20,184,1) 100%); 
    
    content: "";
  }
  
  .circle__inner {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
  
  .circle__wrapper {
    display: table;
    width: 100%;
    height: 100%;
  }
  
  .circle__content {
    display: table-cell;
    padding: 1em;
    vertical-align: middle;
    font-family: 'Arvo';
  }
  
  @media (min-width: 480px) {
    .circle__content {
      font-size: 1em;
    }
    
  }
  
  @media (min-width: 768px) {
    .circle__content {
      font-size: 1.5em;
    }
  }
.line{
    border-left: 3px solid white;
    margin-left: 50%;
    margin-right: 50%;
    height: 100%;
    
}
.box1{
    display:flex;
    flex-direction: column;
    
}
.title{
    display: flex;
    color: white;
    
    padding: 1%;
}
.ach-img{
  
    
    object-fit: cover;
}
.box2{
    display:flex;
    flex-direction: row; 
    margin-top: 3em;
    margin-right: 4em;
    border-radius:10px;
  -webkit-border-radius:10px;
  -moz-border-radius:10px;
  background: #8118d1  }.ach-desc{
    font-size: 1.2em;
    
    padding:10px;
    
    color: blanchedalmond;
}
.ach-desc >p{
    text-align: justify;
}

.ach-desc-title{
    display: flex;
    justify-content:center;
    text-decoration: underline;
}