@import url(https://fonts.googleapis.com/css?family=Montserrat:400,700);
@import url(//netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css);
@import url('https://fonts.googleapis.com/css?family=Arvo&display=swap');
.blog-box{
    background-color:  #1c2036;
    
    
}
.blog-title{
    color:white;
    font-size: 2.5em;
    text-align: center;
    font-family: 'Monteserrat';
}
.blog-content{
    line-height: 140%;
    font-size: 1.2em;
    margin-left:20%;
    margin-right:20%;
    color: blanchedalmond;
    
    text-align: justify;
    padding: 20px;
    padding-top: 0;
    
}

@media screen and (min-width: 768px) {
    
    .blog-content{
        .gatsby-resp-image-wrapper{

            justify-items: center;
            align-items: center;
            .gatsby-resp-image-link{
                max-width: 55%;
                position: center;
                justify-items:center;
                align-items: center;
                .gatsby-resp-image{
                    max-width: 25%;
                    
                    position: center;
                   
                }
            }
        }
    }
}

